.item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  padding: 40px;
  //   border: 1px solid black;
  box-shadow: 5px 3px 10px gray;

  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    h1 {
      margin-top: 20px;
      border-radius: 5px;
      font-size: 1.2em;
      font-family: "Kalam";
      width: 100%;
    }
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 250px;
      height: 300px;
      padding: 50px;
    }
  }
  .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1em;
      font-weight: bold;
      font-family: "Kalam";
    }
  }
}
