.navbar {
  border-bottom: 1px solid gray;
  display: flex;
  width: 100%;
  justify-content: space-between;
  .logo {
    display: flex;
    // border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-family: "Kalam";
    font-size: 0.7em;
  }
  .navbar-items {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    // border: 2px solid black;
  }
}
@media only screen and (min-width: 600px) {
  .navbar {
    width: 100%;
    // border: 2px solid black;
    justify-content: start;
    .logo {
      // border: 2px solid black;
      width: 10%;
      font-size: 1em;
      text-align: center;
    }
    .navbar-items {
      width: 80%;

      // border: 2px solid black;
      justify-content: space-evenly;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
