.specification {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .title-spec {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "Kalam";
    }
  }
  .product-spec {
    display: flex;
    .detail-spec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      a {
        background: rgba(2, 0, 251, 0.7);
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
      }
    }
  }
}
