.specification {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .back-to-shopping {
    position: absolute;
    left: 50px;
  }
  .title-spec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    h1 {
      font-family: "Kalam";
    }
  }
  .product-spec {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 40px;
    box-shadow: 10px 10px 25px gray;
    .picture-spec {
      display: flex;
      width: 60%;
      justify-content: flex-end;
      //   border: 2px solid black;
    }
    .detail-spec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 40%;
      a {
        background: rgba(2, 0, 251, 0.7);
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
      }
    }
  }
}
